* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
    background-color: honeydew;
}

.form-horizontal  {
    margin: auto;
    width: 50%;
    padding: 10px;

}

h1 {
    color: white;
    font-size: 200px;
    top: 200px;
    margin: auto;
    padding: 10px;
    text-align: center;
    font-family: 'Kanit', sans-serif !important;
    text-shadow: 3px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

h4 {
    top: 50px;
    margin: auto;
    padding: 10px;
    text-align: center;
}



#quote {
    margin: auto;
    text-align: center;
    bottom: 100px;
    color: black;
}

.panel{
    width: 400px;
    align-content: left;
}

.home-container{
    width:700px
    margin:auto 0;
}

#landing {
    background-image: url(/images/AdobeStock_44873016.jpeg);
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#prof-landing {
    background-image: url(../images/bulletin.jpg);
    background-size: 100%;
    /*height: 100vh;*/

}

.container{
  width: 960px;

  /*margin-top: 20px;*/
}
.main{
  top: 50px;
  height: 960px;
  width: 960px;
  /*text-align: center;*/
    margin: 0 auto;
  /*border: solid;*/
}

#key {
    color: white;
    font-size: 30px;
    text-shadow: 0 0 2px;
    bottom: 60px;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;

}

#buttons {
    top: 50px;
}

@font-face {
    font-family: "sketch-font";
    src: url("Sketch_Block.ttf");
}

.sketch {
    font-family: sketch-font;
    font-size: 35px;
}

.bgrnd_color {
    background-color: lightgrey;

}

#column1 {
    width: 960px;
    height: 300px;

}

.delete, .complete {
    float: right;
}

#video-landing {

position: fixed;
right: 0;
bottom: 0;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -100;
background-size: cover;
}
#video{
height:100% ;
width: 100%;
}
